.vs/
BuildHelperTests/obj/
Codefarts.BuildHelperConsoleApp/bin/
Codefarts.BuildHelperConsoleApp/obj/
Codefarts.BuildHelperLib/bin/
Codefarts.BuildHelperLib/obj/
Codefarts.BuildHelperWPF/obj/
packages/
codealike.json
BuildHelperTests/bin/
Plugins/DeployCommand/obj/
Plugins/PurgeCommand/bin/
Plugins/PurgeCommand/obj/
Plugins/ReferencesCommands/obj/
Plugins/CopyDirCommand/obj/
Plugins/CopyDirCommand/bin/
Plugins/DeployCommand/bin/
Plugins/ReferencesCommands/bin/
